<a href="https://colab.research.google.com/github/Sdavi3489/Atividade_2.6_davisoares/blob/main/Exercicio_2_6_resolvido.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.6 - Exercício sobre CSV (enviar pelo Canvas)

In [18]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    # Assuma que você estará lendo em um arquivo csv com as mesmas colunas que o
    # conjunto de dados de beisebol Lahman tem.
    # Existem colunas chamadas 'nameFirst' e 'nameLast'.
    #
    # 1) Escreva uma função que leia um csv localizado em "path_to_csv" 
    # para um dataframe do pandas e adicione uma nova coluna chamada "nameFull" 
    # com o nome completo do jogador.
    #
    # Por exemplo:
    # para Hank Aaron, nameFull seria "Hank Aaron",
    #
    # 2) Grave os dados do pandas dataFrame em um novo arquivo csv localizado em
    # path_to_new_csv
    
    baseball_data = pd.read_csv(path_to_csv,encoding='cp1252')
    # Seu código vai aqui
    baseball_data['nameFull'] = baseball_data['nameFirst'] + \
                                baseball_data['nameLast']

    print(baseball_data[['nameFirst','nameLast','nameFull']].head())
    baseball_data.to_csv(path_to_new_csv)
if __name__ == "__main__":
    # For local use only 
    # (apenas se você estivesse rodando este código em sua máquina local)
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # We are using the file Master.csv
    url = 'https://raw.githubusercontent.com/Sdavi3489/Atividade_2.6_davisoares/main/Master.csv'
    add_full_name(url,'nameFull.csv')
    pass

# Não se esqueça de testar o seu código e conferir se o novo arquivo CSV
# contém a coluna criada na forma adequada.

  nameFirst nameLast     nameFull
0      Hank    Aaron    HankAaron
1    Tommie    Aaron  TommieAaron
2       Don     Aase      DonAase
3      Andy     Abad     AndyAbad
4      John   Abadie   JohnAbadie

In [21]:
# Código para teste
baseball_data[['nameFirst','nameLast','nameFull']].head()

  nameFirst nameLast     nameFull
0      Hank    Aaron    HankAaron
1    Tommie    Aaron  TommieAaron
2       Don     Aase      DonAase
3      Andy     Abad     AndyAbad
4      John   Abadie   JohnAbadie