<a href="https://colab.research.google.com/github/Sdavi3489/Atividade_2.6_davisoares/blob/main/Exercicio_2_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.5 - Dados CSV

In [ ]:
import pandas as pd
baseball_data = pd.read_csv('Master.csv',encoding='cp1252')



baseball_data['height_plus_weight'] = \
  baseball_data['height'] + baseball_data['weight']
t = baseball_data[['height','weight','height_plus_weight']].head()

baseball_data.to_csv('baseball_data_with_weight_height.csv')
t

   height  weight  height_plus_weight
0    72.0   180.0               252.0
1    75.0   190.0               265.0
2    75.0   190.0               265.0
3    73.0   184.0               257.0
4    72.0   192.0               264.0

## 3.6 - Exercício sobre CSV (enviar pelo Canvas)

In [3]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    # Assuma que você estará lendo em um arquivo csv com as mesmas colunas que o
    # conjunto de dados de beisebol Lahman tem.
    # Existem colunas chamadas 'nameFirst' e 'nameLast'.
    #
    # 1) Escreva uma função que leia um csv localizado em "path_to_csv" 
    # para um dataframe do pandas e adicione uma nova coluna chamada "nameFull" 
    # com o nome completo do jogador.
    #
    # Por exemplo:
    # para Hank Aaron, nameFull seria "Hank Aaron",
    #
    # 2) Grave os dados do pandas dataFrame em um novo arquivo csv localizado em
    # path_to_new_csv
    
    baseball_data = pd.read_csv(path_to_csv,encoding='iso8859_2')
    # Seu código vai aqui
    baseball_data['nameFull'] = baseball_data['nameFirst'] + \
                                baseball_data['nameLast']

    print(baseball_data[['nameFirst','nameLast','nameFull']].head())
    baseball_data.to_csv(path_to_new_csv)
if __name__ == "__main__":
    # For local use only 
    # (apenas se você estivesse rodando este código em sua máquina local)
    # If you are running this on your own machine add the path to the
    # Lahman baseball csv and a path for the new csv.
    # We are using the file Master.csv
    add_full_name('Master.csv','nameFull.csv')
    pass

# Não se esqueça de testar o seu código e conferir se o novo arquivo CSV
# contém a coluna criada na forma adequada.

  nameFirst nameLast     nameFull
0      Hank    Aaron    HankAaron
1    Tommie    Aaron  TommieAaron
2       Don     Aase      DonAase
3      Andy     Abad     AndyAbad
4      John   Abadie   JohnAbadie

In [ ]:
# Código para teste

  nameFirst nameLast      nameFull
0      Hank    Aaron    Hank Aaron
1    Tommie    Aaron  Tommie Aaron
2       Don     Aase      Don Aase
3      Andy     Abad     Andy Abad
4      John   Abadie   John Abadie

Teste

In [5]:
baseball_data = pd.read_csv('nameFull.csv',encoding='iso8859_2')
baseball_data['nameFull'].head()

0      HankAaron
1    TommieAaron
2        DonAase
3       AndyAbad
4     JohnAbadie
Name: nameFull, dtype: object